table {
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
  border: solid #ddd;
}
th{
  background-color: blanchedalmond;
}
th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even)
{background-color: #f2f2f2}